CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
build
*.o
*.lo
*.so
*.iso
.depend
*.a
loader
init
es.tr
bzImage-*
core-image-*
modules-*
c.img
cd.iso
loader.tr
cscope*
a.out
loader.po
.vagrant
installer/logs/*
.idea/
*.pyc
tmp
bzImage
*.img
yoctotmp
yoctotmp2
CD
CMakeLists.txt
cmake-build-debug
syslinux
